* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
body {
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
}

.in {
    margin-bottom: 15px;
}
.in > * {
    margin-bottom: 5px;
}
input {
    border: 2px solid black;
    padding: 8px;
}

.btn {
    margin-bottom: 20px;
}
button {
    padding: 8px;
    font-weight: bold;
    border-radius: 0px;
    border: 2px solid black;
    background-color: white;
}
button:hover {
    background-color: black;
    color: white;
}

.out {
    border: 2px solid black;
    padding: 10px;
    max-width: 600px;
    min-height: 100px;
    white-space: pre;
}